.app {
  padding: 20px;
  font-family: sans-serif;
}

.table-selector {
  margin-bottom: 12px;
}

.table-selector label {
  margin-right: 16px;
}

.actions {
  margin-bottom: 16px;
}

.actions button {
  margin-right: 8px;
}

.grid {
  display: grid;
  /*grid-template-columns: 80px 1fr 1fr 1fr; 
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); */
  border: #333 solid 1px;
  border-radius: 4px;
  padding: 8px;
  background-color: #ffc;
}

.grid-header {
  font-weight:600;
  background-color: #009;
  color: #ff0;
}

.grid-row {
  display: contents;
}

.grid-row div {
  padding: 2px 2px;
  line-height: 1;   /* compact text */
  border-bottom: 1px solid #aaa;
}

.grid-header,
.grid-row div {
  border-right: 1px solid #ccc; /* vertical lines */
  text-align: left;   /* left-align content */
  padding: 2px 8px;   
}

/* remove right border for last column */
.grid-header:last-child,
.grid-row div:last-child {
  border-right: none;
}

/* Order overview grid — independent layout */
.grid-order {
  grid-template-columns: 
    80px     /* ID */
    1.5fr    /* Customer */
    1fr      /* Products */
    1fr;     /* Amount USD */
  background-color: #cfc;
  width: max-content;
}


.grid-container {
  display: flex;
  justify-content: center; /* center horizontally */
  margin: 16px 0;          /* optional spacing */
}

.cell-center, 
.grid-row .cell-center
 {
  text-align: center;
}

.cell-right,
.grid-row .cell-right
{
  text-align: right;
}
