.app {
  padding: 20px;
  font-family: sans-serif;
}

.table-selector {
  margin-bottom: 12px;
}

.table-selector label {
  margin-right: 16px;
}

.actions {
  margin-bottom: 16px;
}

.actions button {
  margin-right: 8px;
}

/* -------------------------------------TABLE design ----------------s*/
/* table alignment - center */
.table-container {
  display: inline-flex;
  justify-content: center;
  background-color: #ffc;
  padding: 12px;
  border: #999 1px solid;
  border-radius: 8px;
}

/* column width adjusted to content */
.table-def {
  table-layout: auto;
  width: auto;
}

/* cell alignment - default left */
.table-def th,
.table-def td {
  text-align: left;
}

.table-def .cell-center
 {
  text-align: center;
}

.table-def .cell-right
{
  text-align: right;
}

/* common content and header style */
.table-def {
  border-collapse: collapse;
}

/* header style */
.table-def th {
  background-color: #006;
  color: #ff8;
  padding: 2px 8px;
  border: 1px solid #777;   
}

/* content style */
.table-def td {
  padding: 0px 8px;
  border: 1px solid #777;
}

.odd-row {
  background-color: #efe;
}
